@charset "UTF-8";
#login_title{
  width: 100px;
  margin: 0 auto;
  padding: 10px;
}
.slideshow{
  height: 350px;
  background: #fff;
  min-width: 960px;
  overflow: hidden;
  position: relative;
}

.slideshow_slides{
  width: 100%;
  height: 100%;
  position: absolute;
}

.slideshow_slides a{
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}
/* 중앙에 배치,배경 이미지, 좌우 이동 */
.slideshow_nav a{
  width: 71px;
  height: 71px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  text-indent: -99999em;
}
.slideshow_nav a.previous{
  background: url(../img/sprites.png) no-repeat 0 -20px;
  margin-left: -400px;
}
.slideshow_nav a.next{
  background: url(../img/sprites.png) no-repeat -81px -20px;
  margin-left: 321px;
}
.slideshow_nav a.disabled{
  display: none;
}

.slideshow_indicator{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}
/* 흰 점 */
.slideshow_indicator a{
  width: 9px;
  height: 9px;
  text-decoration: none;
  background: url(../img/sprites.png) no-repeat -113px -4px;
  margin: 0 10px;
  display: inline-block;
}
/* 검은 점 */
.slideshow_indicator a.currentPage{
  background: url(../img/sprites.png) no-repeat -134px -4px;
}
